@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* убираем отступы, задаем шрифт и его цвет глобально */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(97, 97, 97);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

